<header class="home-head">
    <div class="container">
        <div class="info">
            <div class="col-8 visible-info ">
                <h6>Tongasoa!.</h6>
                <h1>A la rédecouverte des ençiens véhicules des anées 1930.</h1>
                <p class="lead">Prennez soin des voiture enciens.
                </p>
                <div class="survol">
                    <button class="btn active">Faire un achat
                        <span></span>
                    </button>
                    <button class="btn">Nous contactez
                        <span></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="backImage">
        <div class="test">

        </div>
    </div>
</header>

<div class="container main">

    <div class="my-5 about">
        <div class="row">
            <div class="row">
                <h2 class="text-center col-4 mt-5"><img style="width: 250px;position:relative; top:-7px"
                        src="./../../assets/images/logo2.svg" alt="" srcset="">
                </h2>
                <div class="bulle col-7 mt-5">
                    <h5>À propos de nous</h5>
                    <p>Karavan Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                        consequuntur, eos error
                        tempore id, iure repellendus nemo nihil, neque vel consectetur asperiores repudiandae nulla!
                        Dolor
                        doloremque corrupti minus quidem unde!</p>

                    <button class="btn active">Nous contactez</button>
                </div>
            </div>
            <div class="my-5 col-12  d-flex justify-content-center">
                <img class="van-about" src="./../../assets/images/abutVan.png" alt="" srcset="">
            </div>
        </div>
    </div>


    <div class="my-5 dispo">
        <div>
            <h2 class="text-center">Nos modèles.</h2>
            <p class=" text-center my-5">Voiçi quelque modèle de <strong>Van</strong> qui sont disponible chez
                nous.N'hésiter pas à nous contactez pour en savoir plus.
            </p>
        </div>
        <div class="destination mt-5 d-flex justify-content-center">

            <div class="images">
                <div class="igm">
                    <img src="../../assets/images/van0.jpg" alt="" srcset="">
                    <div class="col-12 info-van">
                        <h3>Model 0145s</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugiat harum numquam beatae
                            suscipit dolorem quae atque maiores vitae, corporis, repellendus voluptates sequi, ratione
                            nemo neque rerum possimus soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="images">
                <div class="igm">
                    <img src="../../assets/images/van2.jpg" alt="" srcset="">
                    <div class="col-12 info-van">
                        <h3>Model 0145s</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugiat harum numquam beatae
                            suscipit dolorem quae atque maiores vitae, corporis, repellendus voluptates sequi, ratione
                            nemo neque rerum possimus soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="images">
                <div class="igm">
                    <img src="../../assets/images/van4.jpg" alt="" srcset="">
                    <div class="col-12 info-van">
                        <h3>Model 0145s</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugiat harum numquam beatae
                            suscipit dolorem quae atque maiores vitae, corporis, repellendus voluptates sequi, ratione
                            nemo neque rerum possimus soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="images">
                <div class="igm">
                    <img src="../../assets/images/van1.jpg" alt="" srcset="">
                    <div class="col-12 info-van">
                        <h3>Model 0145s</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugiat harum numquam beatae
                            suscipit dolorem quae atque maiores vitae, corporis, repellendus voluptates sequi, ratione
                            nemo neque rerum possimus soluta at.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn active ">Achéter un van</button>
        </div>
    </div>

    <div class="my-5 service">
        <div class="">
            <h2>Nos services</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, corrupti. Et sit magnam, voluptates
                quod qui explicabo quae nam voluptatibus adipisci laborum quaerat necessitatibus cupiditate commodi
                illum. Quaerat, maiores tempore.</p>
        </div>
    </div>

    <div class="contact-form my-5">
        <div class="row">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="">Nom</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea name="" id="" rows="5" class="form-control"></textarea>
                    </div>
                    <div>
                        <button class="btn active">Envoye</button>
                    </div>
                </form>
            </div>
            <div class="col-6">

                <p><i class="mai-location"></i>Tananarive-Madagascar Ambohipo.</p>
                <iframe class="col-12"
                    src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                    width="1920" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            </div>
        </div>

    </div>
</div>